/* Don't change the existing CSS. */

#outer-box {
  background-color: purple;
  padding: 10px;
}

.white-text {
  background-color: red;
  padding: 10px;
  color: white;
}

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.text {
  padding-top: 10px;
}